@using Microsoft.AspNetCore.Identity
@using IdentityServer4.Extensions
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

<ul class="navbar-nav">
    @if (User.IsAuthenticated())
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Manager" asp-controller="Profile" asp-action="Index">Ciao @User?.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Register">Registrati</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>