@model IdentityServer.ViewModels.Shared.TitleViewModel

@{
    Layout = null;
}

<div class="display-4">@(Model?.Title ?? "Page Title")</div>
<p class="lead text-muted mt-1">@(Model?.Description ?? "Choose how to login")</p>