@using IdentityServer.ViewModels.Shared
@model IdentityServer.Areas.Roles.Models.RolesViewModel

@{
    ViewData["ActivePage"] = TitleViewModel.Roles.Title;
    Layout = "_RolesLayout";
}

<partial name="_ValidationSummary"/>

<form method="post" asp-action="AddRole">

    <div class="input-group mb-3">
        <input type="text" asp-for="SelectedRole" class="form-control" placeholder="Ruolo" aria-label="Nome del nuovo ruolo" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button type="submit" id="basic-addon2" class="btn btn-outline-primary">Aggiungi</button>
        </div>
    </div>

</form>

<form method="post">

    <label>
        <strong>Roles:</strong>
    </label>

    <ul class="list-group list-group-flush">
        @foreach (var value in Model?.Roles ?? new List<string>())
        {
            <li class="list-group-item">
                <input type="radio" asp-for="SelectedRole" value="@value"/>
                @value
            </li>
        }
    </ul>

    <div class="text-right mt-2">
        <button asp-action="DeleteRole" type="submit" class="btn btn-outline-danger w-25">Cancella</button>
    </div>

</form>