@using IdentityServer.ViewModels.Shared
@{
    Layout = "_Layout";
}

<partial name="_Title" model="@(TitleViewModel.Settings($"{ViewData["Title"]}"))"/>

<div class="row mt-2">
    <div class="col-3">
        <partial name="_ManageNav"/>
    </div>
    <div class="col-9">
        @RenderBody()
    </div>
</div>