@using IdentityServer.Areas.Manager.Views

<ul class="nav nav-pills flex-column">
    
    <li class="nav-item">
        <a class="lead nav-link @ManageNavPages.IndexNavClass(ViewContext)" asp-area="Manager" asp-controller="Profile" asp-action="Index">Profilo</a>
    </li>
    <li class="nav-item">
        <a class="lead nav-link @ManageNavPages.EmailNavClass(ViewContext)" asp-area="Manager" asp-controller="ChangeEmail" asp-action="Index">Email</a>
    </li>
    <li class="nav-item">
        <a class="lead nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-area="Manager" asp-controller="ChangePassword" asp-action="Index">Password</a>
    </li>
    <li class="nav-item">
        <a class="lead nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" asp-area="Manager" asp-controller="PersonalData" asp-action="Index">Account</a>
    </li>

</ul>