@using IdentityServer.Areas.Roles.Views
@using IdentityServer.ViewModels.Shared

<ul class="nav nav-pills flex-column">
    
    <li class="nav-item">
        <a class="lead nav-link @ManageNavPages.RolesNavClass(ViewContext)" asp-area="Roles" asp-controller="Roles" asp-action="Index">@TitleViewModel.Roles.Title</a>
    </li>
    <li class="nav-item">
        <a class="lead nav-link @ManageNavPages.UserRolesNavClass(ViewContext)" asp-area="Roles" asp-controller="UserRoles" asp-action="Index">@TitleViewModel.UserRoles.Title</a>
    </li>

</ul>