@using IdentityServer.ViewModels.Shared
@model IdentityServer.Areas.Manager.Models.ChangeEmailViewModel

@{
    ViewData["ActivePage"] = TitleViewModel.ChangeEmail.Title;

    Layout = "_ManageLayout";
}

<partial name="_StatusMessage" for="@ViewData["StatusMessage"]"/>

<form class="form-horizontal" method="post">

    <div class="form-group mb-0">
        <label asp-for="Email"></label>
        <div class="input-group">
            <input asp-for="Email" class="form-control" disabled/>
            <input asp-for="Email" type="hidden"/>
            <input asp-for="IsEmailConfirmed" type="hidden"/>
            <div class="input-group-append">
                @if (Model?.IsEmailConfirmed ?? false)
                {
                    <span class="input-group-text text-success font-weight-bold">✓</span>
                }
                else
                {
                    <span class="input-group-text text-danger font-weight-bold">X</span>
                }
            </div>
        </div>
        <form method="post">
            <div class="text-right"><a class="lead" asp-action="SendVerificationEmail">Non ti &egrave; arrivata la mail di conferma?</a></div>
        </form>
        
    </div>

    <div class="form-group">
        <label asp-for="NewEmail"></label>
        <input asp-for="NewEmail" class="form-control"/>
        <span asp-validation-for="NewEmail" class="text-danger"></span>
    </div>

    <div class="text-right">
        <button id="change-email-button" class="btn btn-outline-primary w-25" type="submit">Cambia</button>
    </div>

</form>