@using IdentityServer.ViewModels.Shared
@model IdentityServer.ViewModels.Passwords.ForgotPasswordViewModel

@{
    ViewData["Title"] = TitleViewModel.ForgotPassword.Title;
    Layout = "_Layout";
}

<partial name="_Title" model="TitleViewModel.ForgotPassword"/>

<form class="form-horizontal" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">

    <div class="form-group">
        <label>Email:</label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-primary w-25">Recupera</button>

</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}