@model dynamic
@{
    ViewBag.Title = "Password Modificata!";

    Layout = "_Layout";
}

<div class="container">

    <div class="text-left">
        <h1 class="display-4 mb-2">@ViewData["Title"]</h1>
        <h6>La tua password &egrave; stata modificata!</h6>
        <br/>
        <p>
            <a asp-controller="Account">Per accedere, premi qui</a>
        </p>
    </div>

</div>