@using IdentityServer.ViewModels.Shared
@{
    ViewBag["Title"] = TitleViewModel.ResetPasswordConfirmation.Title;
    Layout = "_Layout";
}

<partial name="_Title" model="TitleViewModel.ResetPasswordConfirmation"/>

<p class="lead"><a asp-controller="Account">Per accedere, premi qui</a>/p>

