@page "/"

<AuthorizeView>
    <Authorized>
        <h2>
            Ciao, @context.User.Identity?.Name
        </h2>
        <h4>
            Benvenuto nel tuo Catalogo.
        </h4>
    </Authorized>
    <NotAuthorized>Per visualizzare il catalog procedere con la login!</NotAuthorized>
</AuthorizeView>