@using IdentityServer.ViewModels.Shared
@using System.Security.Claims
@using System.Collections.Immutable
@model IdentityServer.Areas.Diagnostics.Models.DiagnosticsViewModel

@{
    ViewData["ActivePage"] = TitleViewModel.Diagnostics.Title;
    Layout = "_DiagnosticLayout";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="lead"><strong>Claims</strong></div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (var claim in Model?.AuthenticateResult.Principal?.Claims ?? new List<Claim>())
                    {
                        <li class="list-group-item lead"><strong>@claim.Type: </strong>@claim.Value</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="col mt-2">
        <div class="card">
            <div class="card-header">
                <div class="lead"><strong>Properties</strong></div>
            </div>
            <div class="card-body">
                <li class="list-group list-group-flush">
                    
                    @foreach (var (key, value) in Model?.AuthenticateResult.Properties?.Items ?? new Dictionary<string, string?>())
                    {
                        <ul class="list-group-item lead"><strong>@key: </strong>@value</ul>
                    }
                    
                    @if (Model?.Clients.Any() ?? false)
                    {
                        <div class="lead"><strong>Clients</strong></div>
                            <li class="list-group list-group-flush">
                            @{
                                var clients = Model.Clients.ToImmutableArray();
                                            
                                foreach (var t in clients)
                                {
                                    <ul class="list-group-item">@t</ul>
                                }
                            }
                            </li>
                    }
                </li>    
            </div>
        </div>
    </div>
</div>