@using System.Diagnostics
@using IdentityServer4.Extensions

@{
    var version = FileVersionInfo.GetVersionInfo(typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.Location).ProductVersion?.Split('+').First();
}

<div class="welcome-page">
    
    <span class="display-4">Welcome to IdentityServer4<small class="text-muted lead ml-2">(version @version)</small></span>
    
    <ul class="lead">
          @if (!User.IsAuthenticated())
          {
              <li class="text-muted">Please, proceed to login.</li>
          }
          else
          {
              <li>IdentityServer publishes a <a href="~/.well-known/openid-configuration">discovery document</a> where you can find metadata and links to all the endpoints, key material, etc.</li>
          }
    </ul>
</div>