@using IdentityServer.ViewModels.Shared
@model IdentityServer.ViewModels.Register.ConfirmEmailViewModel

@{
    ViewData["Title"] = TitleViewModel.ConfirmEmail().Title;
    Layout = "_Layout";
}

<partial name="_Title" model="@TitleViewModel.ConfirmEmail(Model?.Succeed)" />

@if (Model?.Succeed ?? false)
{
    <p class=" lead">Per accedere <a asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">premi qui!</a></p>
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}