@model string

@{
    ViewData["Title"] = "Email di Conferma Inviata";

    Layout = "_Layout";
}

<div class="container">
    <div class="text-left">
        <h1 class="display-4 mb-2">@ViewData["Title"]</h1>
        <h5>Ti abbiamo spedito una email all'indirizzo @Model. Controlla la tua casella di posta elettronica.</h5>
    </div>
</div>