@using IdentityServer.ViewModels.Shared
@model IdentityServer.ViewModels.Register.ResendEmailViewModel

@{
    ViewData["Title"] = TitleViewModel.ResendEmail.Title;
    Layout = "_Layout";
}
<div class="container">

    <partial name="_Title" model="@TitleViewModel.ResendEmail" />

    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-outline-success w-25">Invia</button>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}