@using IdentityServer.ViewModels.Shared

@{
    ViewData["ActivePage"] = TitleViewModel.PersonalData.Title;

    Layout = "_ManageLayout";
}

<p class="lead">Il tuo account contiene i tuoi dati personali che puoi trovare qui. Questa pagina ti permette di scaricarli o di cancellarli.</p>
<p class="lead"><strong>Cancellando questi dati rimuoverai permanentemente il tuo account, e non potra essere ripristinato in futuro.</strong></p>

<form class="form-group text-right" method="post">
    <button type="submit" class="btn btn-outline-primary w-25" asp-action="DownloadPersonalData">Download</button>
</form>

<p class="text-right"><a class="btn btn-outline-danger w-25" asp-action="PersonalDataDelete">Cancella</a></p>