@using IdentityServer.ViewModels.Shared
@using IdentityServer.Areas.Manager.Views
@model IdentityServer.Areas.Manager.Models.DeletePersonalDataInputModel

@{
    ViewData["Title"] = TitleViewModel.PersonalData.Title;
    ViewData["ActivePage"] = ManageNavPages.DeletePersonalData;

    Layout = "_ManageLayout";
}

<p class="alert alert-danger">
    <strong>Procedendo si cancella permanentemente il proprio account, e non potr&agrave; essere recuperato in seguito.</strong>
</p>

<form id="delete-user" class="form-group" method="post">

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="text-right">
        <button class="btn btn-outline-danger w-25" type="submit">Cancella</button>
    </div>
    
</form>