@using IdentityServer.ViewModels.Shared

@{
    Layout = "_Layout";
}

<partial name="_Title" model="@(new TitleViewModel($"{ViewData["ActivePage"]}"))" />

<div class="row mt-4">
    <div class="col-3">
        <partial name="_ManageNav"/>
    </div>
    <div class="col-9">
        @RenderBody()
    </div>
</div>