@using IdentityServer.ViewModels.Shared
@using IdentityServer.Areas.Manager.Views
@model IdentityServer.Areas.Manager.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = TitleViewModel.ChangePassword.Title;
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;

    Layout = "_ManageLayout";
}

<partial name="_StatusMessage" for="@ViewData["StatusMessage"]"/>
<partial name="_ValidationSummary"/>

<form method="post">

    <div class="form-group">
        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword" class="form-control"/>
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control"/>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control"/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-outline-primary w-25">Cambia</button>
    </div>

</form>