@using IdentityServer.Views.Manage
@{
    ViewData["Title"] = "Conferma Email";
    ViewData["ActivePage"] = ManageNavPages.Email;

    Layout = "_ManageLayout";
}

<div class="container">

    <div class="text-left">
        <h3>@ViewData["Title"]</h3>
    </div>

    <partial name="_StatusMessage" for="@ViewData["StatusMessage"]"/>

</div>