@using IdentityServer.Views.Manage
@model IdentityServer.Models.ManageViewModel.ChangeEmailViewModel

@{
    ViewData["Title"] = "Email";
    ViewData["ActivePage"] = ManageNavPages.Email;

    Layout = "_ManageLayout";
}

<div class="container">

    <div class="text-left">
        <h3>@ViewData["Title"]</h3>
    </div>

    <partial name="_StatusMessage" for="@ViewData["StatusMessage"]"/>

    <div class="row">
        <div class="col-md-9">

            <form id="email-form" class="form-horizontal" method="post">

                <div class="form-group">
                    <label asp-for="Email"></label>
                        <div class="input-group">
                            <input asp-for="Email" class="form-control" disabled/>
                            <input asp-for="Email" type="hidden" />
                            <input asp-for="IsEmailConfirmed" type="hidden" />
                            <div class="input-group-append">
                                @if (Model.IsEmailConfirmed)
                                {
                                    <span class="input-group-text text-success font-weight-bold">✓</span>
                                }
                                else
                                {
                                    <span class="input-group-text text-danger font-weight-bold">X</span>
                                }
                            </div>
                        </div>
                        <button id="email-verification" class="btn btn-link" type="submit" asp-action="SendVerificationEmail">Non ti &egrave; arrivata la mail di conferma?</button>
                </div>

                <div class="form-group">
                    <label asp-for="NewEmail"></label>
                    <input asp-for="NewEmail" class="form-control"/>
                    <span asp-validation-for="NewEmail" class="text-danger"></span>
                </div>

                <button id="change-email-button" class="btn btn-outline-primary w-25" type="submit">Cambia</button>

            </form>
        </div>
    </div>

</div>