@using IdentityServer.Views.Manage
@model IdentityServer.ViewModels.ManageViewModel.DeletePersonalDataViewModel

@{
    ViewData["Title"] = "Elimina Account";
    ViewData["ActivePage"] = ManageNavPages.DeletePersonalData;

    Layout = "_Layout";
}

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Procedendo si cancella permanentemente il proprio account, e non potr&agrave; essere recuperato in seguito.</strong>
    </p>
</div>

<div>
    <form id="delete-user" class="form-group" method="post">

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button class="btn btn-outline-danger w-25" type="submit">Elimina</button>

    </form>
</div>