@model IdentityServer.Models.AccountViewModels.ConfirmEmailViewModel

@{
    ViewBag.Title = "Email Confermata";
    Layout = "_Layout";
}

<div class="container">
    <div class="text-left">
        <h1 class="display-4 mb-2">@ViewData["Title"]</h1>
        <h5>@Model.Message</h5>
    </div>
</div>