@using IdentityServer.ViewModels.Shared
@model IdentityServer.ViewModels.Account.LoggedOutViewModel

@{ 
    ViewData["Title"] = TitleViewModel.LoggedOut.Title;
    
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="logged-out-page">
    <partial name="_Title" model="@TitleViewModel.LoggedOut" />
    
    @if (Model?.AutomaticRedirectAfterSignOut ?? false)
    {
        <small class="lead">You will redirect to home in <strong id="count">5</strong> seconds</small>
    }

    @if (!string.IsNullOrEmpty(Model?.PostLogoutRedirectUri))
    {
        <p class="lead">
            Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the
            <span>@Model.ClientName</span> home.
        </p>
    }

    @if (!string.IsNullOrEmpty(Model?.SignOutIframeUrl))
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
{
    @if (Model?.AutomaticRedirectAfterSignOut ?? false)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}