@using IdentityServer.ViewModels.Shared
@model IdentityServer.ViewModels.Account.LogoutViewModel

@{
    ViewData["Title"] = TitleViewModel.Logout.Title;
}
<partial name="_Title" model="TitleViewModel.Logout"/>

<form asp-action="Logout">
    <input type="hidden" name="logoutId" value="@Model?.LogoutId"/>
    <div class="form-group">
        <button class="btn btn-outline-secondary w-25">Yes</button>
    </div>
</form>