@{
    ViewBag.Title = "Password Modificata";
    Layout = "_Layout";
}

<div class="container">
    
    <div class="text-left">
        <h1 class="display-4 mb-2">@ViewData["Title"]</h1>
        <h5>Password modificata con successo. </h5>
        
        <p><a asp-controller="Account" asp-action="Login">Premi qui</a> per accedere.</p>
    </div>

</div>