@model IdentityServer.Models.AccountViewModels.ResendConfirmationEmailViewModel

@{
    ViewBag.Title = "Invia Email di Conferma";
    Layout = "_Layout";
}
<div class="container">

    <div class="text-left">
        <h1 class="display-4 mb-2">@ViewData["Title"]</h1>
        <h5>Inserisci la tua email per continuare.</h5>
    </div>
    
    <div class="row">
        <div class="col-md-8">
             <form asp-controller="Account" asp-action="ResendConfirmationEmail" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                 
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                
                <div asp-validation-summary="All" class="text-danger my-2"></div>
    
                <button type="submit" class="btn btn-outline-success w-25">Invia</button>
            </form>
            
        </div>
    </div>
</div>